.homepage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background: #f7f7f7;
  min-height: 100vh;
  box-sizing: border-box;
}

.search-bar-container {
  grid-column: span 2; /* Make search bar span across two columns */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.widgets-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
